@use '../../../styles/variables';
@import '../../../styles/mixins';

.sideBarHide{
    display: none;
    // position: fixed;
    // top: 9.5vh;
    // right: 0;
    // height: 82vh;
    // transition: width 0.5s ease;
    // width: 5vw;
    // background-color: variables.$dark;
    // border-top-left-radius: 5px;
    // border-bottom-left-radius: 5px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // color: white;
    // font-family: 'font-family: ' Poppins'';

    // @include sm {
    //     position: fixed;
    //     top: 9.5vh;
    //     right: 0;
    //     height: 82vh;
    //     transition: width 0.5s ease;
    //     width: 10vw;
    //     background-color: variables.$dark;
    //     border-top-left-radius: 5px;
    //     border-bottom-left-radius: 5px;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     color: white;
    //     font-family: 'font-family: ' Poppins'';

    // }

    // @include md {
    //     position: fixed;
    //     top: 9.5vh;
    //     right: 0;
    //     height: 82vh;
    //     transition: width 0.5s ease;
    //     width: 7vw;
    //     background-color: variables.$dark;
    //     border-top-left-radius: 5px;
    //     border-bottom-left-radius: 5px;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     color: white;
    //     font-family: 'font-family: ' Poppins'';
    // }

    // @include lg {
    //     position: fixed;
    //     top: 9.5vh;
    //     right: 0;
    //     height: 82vh;
    //     transition: width 0.5s ease;
    //     width: 10vw;
    //     background-color: variables.$dark;
    //     border-top-left-radius: 5px;
    //     border-bottom-left-radius: 5px;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     color: white;
    //     font-family: 'font-family: ' Poppins'';
    // }

    // @include xl {
    //     position: fixed;
    //     top: 9.5vh;
    //     right: 0;
    //     height: 82vh;
    //     transition: width 0.5s ease;
    //     width: 10vw;
    //     background-color: variables.$dark;
    //     border-top-left-radius: 5px;
    //     border-bottom-left-radius: 5px;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     color: white;
    //     font-family: 'font-family: ' Poppins'';
    // }

    // .projectList {
    //     width: 3vw;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-evenly;

    //     color: white;
    //     font-family: 'Poppins';
    //     padding: 0;

    //     li {

    //         display: flex;
    //         flex-direction: row;
    //         align-items: center;
    //         padding: 0 0 4.5vh 0;

    //         a {
    //             color: white;
    //             text-decoration: none;
    //             display: flex;
    //             align-items: center;
    //         }
    //     }

    // }


}

.sideBarShow{
    position: fixed;
    top: 9.5vh;
    right: 0;
    height: 82vh;
    transition: width 0.5s ease;
    width: 10vw;
    background-color: variables.$dark;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Poppins';

    .projectList {
        width: 3.5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        font-family: 'Poppins';
        padding: 0;



        li {

            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 0 6vh 0;

            a {
                color: white;
                text-decoration: none;
                display: flex;
                align-items: center;
            }
        }

    }

    @include sm {
        width: 7vw;
        display: flex;
        justify-content: center;

    }

    @include md {
        width: 5vw;
        display: flex;
        justify-content: center;
    }

    @include lg {
        width: 5vw;
        display: flex;
        justify-content: center;
    }

    @include xl {
        width: 5vw;
        display: flex;
        justify-content: center;
    }

}



#menuIcon {
    margin-right: 3%;
    cursor: pointer;
}