@use '../../../styles/variables';

.sideBarShow {
    position: fixed;
    top: 9.5vh;
    right: 0;
    height: 82vh;
    transition: width 0.5s ease;
    width: 10vw;
    background-color: variables.$dark;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'font-family: 'Poppins'';
    .projectList {
        width: 3vw;
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
  
        color: white;
        font-family: 'Poppins';
        padding: 0;
        
    
    
        li {
            
            display: flex;
            flex-direction: row;        
            align-items: center;
            padding: 0 0 4.5vh 0;
    
            a {
                color: white;
                text-decoration: none;
                display: flex;
                align-items: center;
            }
        }
    
    }

}

.sideBarLess {
    position: fixed;
    top: 9.5vh;
    right: 0;
    height: 82vh;
    transition: width 0.5s ease;
    width: 3vw;
    background-color: variables.$dark;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
    font-family: 'Poppins';
    .projectList {
        width: 3.5vw;
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
        align-items: center;
        color: white;
        font-family: 'Poppins';
        padding: 0;
        
    
    
        li {
            
            display: flex;
            flex-direction: row;        
            align-items: center;
            padding: 0 0 6vh 0;
    
            a {
                color: white;
                text-decoration: none;
                display: flex;
                align-items: center;
            }
        }
    
    }

}



#menuIcon {
    margin-right: 3%;
    cursor: pointer;
}