@use '../styles/variables';
@import '../styles/mixins.scss';


header {
    width: 100vw;
    height: 8vh;
    background-color: variables.$dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Plus Jakarta Sans';

}

h1 {
    padding-left: 2%;
    font-family: 'Plus Jakarta Sans'
}


.pageContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.main {
    width: 46vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 9vh;
    overflow: auto;

    @include sm {
        width: 49vw;
        height: 84.5vh;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;

    }

    @include md {
        width: 65vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: left;
        justify-content: top;

    }

    @include lg {
        width: 70vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;

    }

    @include xl {
        width: 70vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;

    }

}

.pagesMain {
    width: 90vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include sm {
        width: 97vw;
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @include md {
        width: 97vw;
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    @include lg {
        width: 97vw;
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @include xl {
        width: 97vw;
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }

    h2 {
        color: variables.$dark;
        font-family: 'Plus Jakarta Sans';
        background-color: variables.$pink;
        width: 86vw;
        height: 10%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 9vh;
        margin-bottom: 1vh;

        @include sm {
            color: variables.$dark;
            font-family: 'Plus Jakarta Sans';
            background-color: variables.$pink;
            width: 82vw;
            height: 10%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 9vh;
            margin-bottom: 1vh;
        }

        @include md {
            color: variables.$dark;
            font-family: 'Plus Jakarta Sans';
            background-color: variables.$pink;
            width: 81vw;
            height: 10%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8vh;
            margin-bottom: 1vh;

        }

        @include lg {
            color: variables.$dark;
            font-family: 'Plus Jakarta Sans';
            background-color: variables.$pink;
            width: 90.5vw;
            height: 10%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: .2vh;
            margin-bottom: 1vh;
        }

        @include xl {
            color: variables.$dark;
            font-family: 'Plus Jakarta Sans';
            background-color: variables.$pink;
            width: 90.5vw;
            height: 10%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5vh;
            margin-bottom: 1vh;

        }

    }

}

.projectPageMain {
    width: 85vw;
    height:71vh;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: variables.$pink;
    border-radius: 5px;
    overflow: auto;
    justify-items: center;
    align-items: center;

    @include sm {
        width: 80vw;
        height: 70vh;
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        border-style: solid;
        border-width: 5px;
        border-color: variables.$pink;
        border-radius: 5px;
        overflow: auto;
        justify-items: center;
        align-items: center;
    }

    @include md {
        width: 80vw;
        height: 71vh;
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        border-style: solid;
        border-width: 5px;
        border-color: variables.$pink;
        border-radius: 5px;
        overflow: auto;
        justify-items: center;
        align-items: center;

    }

    @include lg {
        width: 90vw;
        height: 57vh;
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        border-style: solid;
        border-width: 5px;
        border-color: variables.$pink;
        border-radius: 5px;
        overflow: auto;
        justify-items: center;
        align-items: center;
    }

    @include xl {
        width: 90vw;
        height: 68vh;
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        border-style: solid;
        border-width: 5px;
        border-color: variables.$pink;
        border-radius: 5px;
        overflow: auto;
        justify-items: center;
        align-items: center;

    }


    section {
        margin: 0;
    }

}




.fewItems {

    grid-auto-flow: row;
    
    @include sm {
        grid-auto-flow: row;

    }

    @include md {
        grid-auto-flow: row;


    }

    @include lg {
        grid-auto-flow: column;

    }

    @include xl {
        grid-auto-flow: column;


    }

    .gridItem {
        width: 99%;
        height: 70%;
        margin: 0;

        img {
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            border-color: variables.$pink;
            max-width: 100%;
            height: 100%;
        }

    }
}

.multiItems {

    grid-auto-flow: row;

    .gridItem {
        width: 80%;
        height: 90%;
        margin: 0;

        img {
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            border-color: variables.$pink;
            max-width: 100%;
            height: 100%;
        }

    }
}