@use '../../../styles/variables';
@import '../../../styles/mixins.scss';

.mainItemContainer {
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: 'Poppins';  
    overflow: visible;

    @include sm {
        width: 40vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: top;
        font-family: 'Poppins';

    }

    @include md {
        width: 40vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: top;
        font-family: 'Poppins';

    }

    @include lg {
        width: 40vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: top;
        font-family: 'Poppins';

    }

    @include xl {
        width: 40vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: top;
        font-family: 'Poppins';

    }


}

.titleContainer {
    width: 40vw;
    height: min-content;
    background-color: variables.$pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'Plus Jakarta Sans';

    @include sm {
        width: 40vw;
        height: 10vh;
        background-color: variables.$pink;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-family: 'Plus Jakarta Sans'

    }

    @include md {
        width: 40vw;
        height: 10vh;
        background-color: variables.$pink;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-family: 'Plus Jakarta Sans'

    }

    @include lg {
        width: 40vw;
        height: 10vh;
        background-color: variables.$pink;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-family: 'Plus Jakarta Sans'

    }

    @include xl {
        width: 40vw;
        height: 10vh;
        background-color: variables.$pink;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-family: 'Plus Jakarta Sans'

    }

}

ul {
    list-style-type: none;
    color: variables.$dark ;
    float: left;
    padding-left: 0;
    margin: 0;
}


#lastList {

    list-style-type: circle;
    font-style: italic;
    padding-left: 20px;
   
    a {

        color: variables.$dark ;
        text-decoration: underline;
    }
}

#listItem :first-child,
:nth-child(3) {
    font-weight: bold;

}

.lastChild {
    color: variables.$gray;
}