@use '../../../styles/variables';
@import '../../../styles/mixins.scss';


footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: variables.$dark;

    @include sm {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 7vh;
        background-color: variables.$dark;
    }

    @include md {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 7vh;
        background-color: variables.$dark;
    }

    @include lg {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 100vw;
        height: 7vh;
        background-color: variables.$dark;
    }

    @include xl {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 100vw;
        height: 7vh;
        background-color: variables.$dark;
    }

}